imperativo/FOREACHBATCH.md
imperativo/batch/
imperativo/autoloader/changelog.md
declarativa/changelog.md
declarativa/AUTO_CDC_FLOW.md
imperativo/autoloader/FUNCOES.md
imperativo/autoloader/PERFORMANCE_OPTIMIZATIONS.md
declarativa/FUNCOES.md
imperativo/autoloader/ignore/